.body {
    background-color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.font {
    font-size: small;
}

.center {
    text-align: -webkit-center;
}

.td {
     height: auto - 20px;

}